$font-color: #333;
$font-color-white: white;
$background-color: #fffffe;
$color-a: #333;
$border-color: gray;
$background-button: #3da9fc;

$hover-color: #3da9fc;
$button-detail:rgb(139, 139, 237);
$button-delete:rgb(235, 137, 137);
$button-add: rgb(32, 242, 49);
$button-add-page: #0c3a6c;


$font:'Poppins', sans-serif ;
$font-logo: 'Caveat Brush', cursive;